pipeline/CopyStructuredToStage.json
{
	"name": "CopyStructuredToStage",
	"properties": {
		"activities": [
			{
				"name": "Structured File Created",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLStructured",
						"type": "DatasetReference",
						"parameters": {
							"File": {
								"value": "@pipeline().parameters.StructuredFile",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.StructuredDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Structured File Created",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Structured File Created').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UpdateCurrentExecutionLog_Stage",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Data flow1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[procfwk].[SetLogPipelineFilePathName]",
								"storedProcedureParameters": {
									"ADLContainer": {
										"value": "-",
										"type": "String"
									},
									"ExecutionId": {
										"value": {
											"value": "@pipeline().parameters.ExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"FilePath": {
										"value": "N/A",
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().parameters.PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RecordsInserted": {
										"value": {
											"value": "@activity('Data flow1').output.runStatus.metrics.sink1.rowsWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@pipeline().parameters.StageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_ADL2STRUCTUREDToCURRENT",
									"type": "DataFlowReference",
									"parameters": {
										"FilePath": {
											"value": "'@{concat(pipeline().parameters.StructuredDirectory, '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'yyyy'), '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'MM'), '/', formatDateTime(convertTimeZone(utcNow(), 'UTC' ,'AUS Eastern Standard Time'),'dd'), '/*.parquet')\r\n}'",
											"type": "Expression"
										},
										"PipelineId": {
											"value": "@pipeline().parameters.PipelineId",
											"type": "Expression"
										},
										"StageId": {
											"value": "@pipeline().parameters.StageId",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"Current": {
											"TableName": {
												"value": "@pipeline().parameters.StructuredDirectory",
												"type": "Expression"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "Blob_dimport",
										"type": "LinkedServiceReference"
									},
									"folderPath": "staging"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StructuredFile": {
				"type": "string"
			},
			"StructuredDirectory": {
				"type": "string"
			},
			"ExecutionId": {
				"type": "string"
			},
			"PipelineId": {
				"type": "string"
			},
			"StageId": {
				"type": "string"
			}
		},
		"annotations": []
	}
}