pipeline/CopyRawToStructured.json
{
	"name": "CopyRawToStructured",
	"properties": {
		"activities": [
			{
				"name": "Raw File Created",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "UpdateCurrentExecutionLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Raw",
						"type": "DatasetReference",
						"parameters": {
							"File": {
								"value": "@pipeline().parameters.RawFile",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.RawDiretory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Raw File Created",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Raw File Created').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy Raw To Structured",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetColumnMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(activity('GetColumnMapping').output.firstRow.json_output)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Raw",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.RawFile",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.RawDiretory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLStructured",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.StructuredFile",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.StructuredDirectory",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetColumnMapping",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_getColumnMapping]",
									"storedProcedureParameters": {
										"table_name": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.RawDiretory",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "GetSetMetadata",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			},
			{
				"name": "UpdateCurrentExecutionLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[procfwk].[SetLogPipelineFilePathName]",
					"storedProcedureParameters": {
						"ADLContainer": {
							"value": "R",
							"type": "String"
						},
						"ExecutionId": {
							"value": {
								"value": "@pipeline().parameters.executionId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"FilePath": {
							"value": {
								"value": "@pipeline().parameters.RawFile",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().parameters.pipelineId",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StageId": {
							"value": {
								"value": "@pipeline().parameters.stageId",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SupportDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"RawFile": {
				"type": "string"
			},
			"RawDiretory": {
				"type": "string"
			},
			"StructuredFile": {
				"type": "string"
			},
			"StructuredDirectory": {
				"type": "string"
			},
			"ExecutionId": {
				"type": "string"
			}
		},
		"annotations": []
	}
}