pipeline/CopyStructuredToCurrent.json
{
	"name": "CopyStructuredToCurrent",
	"properties": {
		"activities": [
			{
				"name": "Structured File Created",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLStructured",
						"type": "DatasetReference",
						"parameters": {
							"File": {
								"value": "@pipeline().parameters.StructuredFile",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.StructuredDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Structured File Created",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Structured File Created').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "UpdateCurrentExecutionLog_Structured",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[procfwk].[SetLogPipelineFilePathName]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@pipeline().parameters.ExecutionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"FilePath": {
										"value": {
											"value": "@pipeline().parameters.StructuredFile",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().parameters.PipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@pipeline().parameters.StageId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"ADLContainer": {
										"value": "S",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute Current Data Flow",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "UpdateCurrentExecutionLog_Structured",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ExecuteDataFlowCurrent",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"StructuredDirectory": {
										"value": "@pipeline().parameters.StructuredDirectory",
										"type": "Expression"
									},
									"StructuredFile": {
										"value": "@pipeline().parameters.StructuredFile",
										"type": "Expression"
									},
									"ExecutionId": {
										"value": "@pipeline().parameters.ExecutionId",
										"type": "Expression"
									},
									"PipelineId": {
										"value": "@pipeline().parameters.PipelineId",
										"type": "Expression"
									},
									"StageId": {
										"value": "@pipeline().parameters.StageId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StructuredFile": {
				"type": "string"
			},
			"StructuredDirectory": {
				"type": "string"
			},
			"ExecutionId": {
				"type": "string"
			},
			"PipelineId": {
				"type": "string"
			},
			"StageId": {
				"type": "string"
			}
		},
		"annotations": []
	}
}