pipeline/CopyStructuredToStage.json
{
	"name": "CopyStructuredToStage",
	"properties": {
		"activities": [
			{
				"name": "Structured File Created",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLStructured",
						"type": "DatasetReference",
						"parameters": {
							"File": {
								"value": "@pipeline().parameters.StructuredFile",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.StructuredDirectory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Structured File Created",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(activity('Structured File Created').output.exists)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CopyToSTG",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "GetColumnMapping",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": {
										"value": "@{concat('TRUNCATE TABLE stg.', pipeline().parameters.StructuredDirectory)}",
										"type": "Expression"
									},
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 0,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"value": "@json(activity('GetColumnMapping').output.firstRow.json_output)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "ADLStructured",
									"type": "DatasetReference",
									"parameters": {
										"File": {
											"value": "@pipeline().parameters.StructuredFile",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.StructuredDirectory",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalytics",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@pipeline().parameters.StructuredDirectory",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "GetColumnMapping",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[sp_getColumnMapping]",
									"storedProcedureParameters": {
										"table_name": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.StructuredDirectory",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "GetSetMetadata",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"StructuredFile": {
				"type": "string"
			},
			"StructuredDirectory": {
				"type": "string"
			},
			"ExecutionId": {
				"type": "string"
			},
			"PipelineId": {
				"type": "string"
			},
			"StageId": {
				"type": "string"
			}
		},
		"annotations": []
	}
}