pipeline/LoadSourceToADLRaw.json
{
	"name": "LoadSourceToADLRaw",
	"properties": {
		"activities": [
			{
				"name": "For Each Active ETL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ETL Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ETL Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Source Format Condition",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FilePathName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().SourceLocation, 'api')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy API to ADL",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "RestSource",
												"httpRequestTimeout": "00:01:40",
												"requestInterval": "00.00:00:00.010",
												"requestMethod": "GET",
												"paginationRules": {
													"supportRFC5988": "true"
												}
											},
											"sink": {
												"type": "JsonSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "JsonWriteSettings",
													"filePattern": "setOfObjects"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "StarRez",
												"type": "DatasetReference",
												"parameters": {
													"url": {
														"value": "@string(item().SourceUrl)",
														"type": "Expression"
													},
													"parameter": {
														"value": "@string(item().SourceParameter)",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ADLJson",
												"type": "DatasetReference",
												"parameters": {
													"Object": {
														"value": "@string(item().SinkFileName)",
														"type": "Expression"
													},
													"FileName": {
														"value": "@concat(formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'), '/', string(item().SinkFileName),'_', formatDateTime(utcnow(),'HHMM'), '.', string(item().SinkFileFormat))",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "FilePathName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawFilePath",
								"value": {
									"value": "@concat(formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'), '/', string(item().SinkFileName),'_', pipeline().parameters.executionId, '.', string(item().SinkFileFormat))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ETL Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Select * From dbo.CurrentETL Where ETLId = ', pipeline().parameters.ETLId)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"executionId": {
				"type": "string",
				"defaultValue": "1"
			},
			"stageId": {
				"type": "int"
			},
			"pipelineId": {
				"type": "int"
			}
		},
		"variables": {
			"RawFilePath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}