pipeline/LoadDataLakeToDW.json
{
	"name": "LoadDataLakeToDW",
	"properties": {
		"activities": [
			{
				"name": "Synapse - SP",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get SP Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@activity('Get SP Name').output.firstrow.StoredProcedureName",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"ExecutionDate": {
							"value": {
								"value": "@pipeline().parameters.ExecutionTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"sourceSystem": {
							"value": "'Starrez'",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Synapse",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get SP Name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT [StoredProcedureName] FROM [dbo].[Presentation] WHERE PresentationID = ', pipeline().parameters.StoredProcedure)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"StoredProcedure": {
				"type": "string"
			}
		},
		"annotations": []
	}
}