pipeline/LoadSourceToADLRaw.json
{
	"name": "LoadSourceToADLRaw",
	"properties": {
		"activities": [
			{
				"name": "For Each Active ETL",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ETL Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ETL Table').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FilePathName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "RawFilePath",
								"value": {
									"value": "@concat(formatDateTime(utcnow(),'yyyy'), '/', formatDateTime(utcnow(),'MM'), '/', formatDateTime(utcnow(),'dd'), '/', string(item().SinkFileName),'_', pipeline().parameters.executionId, '.', string(item().SinkFileFormat))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "API",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "FilePathName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "item().SourceLocation",
									"type": "Expression"
								},
								"condition": {
									"value": "'api'",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy API to ADL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "StarRez",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@string(item().SourceUrl)",
											"type": "Expression"
										},
										"parameter": {
											"value": "@string(item().SourceParameter)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ADLJson",
									"type": "DatasetReference",
									"parameters": {
										"Object": {
											"value": "@string(item().SinkFileName)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@variables('RawFilePath')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "UpdateCurrentExecutionLog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy API to ADL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[procfwk].[SetLogPipelineFilePathName]",
								"storedProcedureParameters": {
									"ExecutionId": {
										"value": {
											"value": "@pipeline().parameters.executionId",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"FilePath": {
										"value": {
											"value": "@variables('RawFilePath')",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineId": {
										"value": {
											"value": "@pipeline().parameters.pipelineId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"StageId": {
										"value": {
											"value": "@pipeline().parameters.stageId",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SupportDatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ETL Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('Select * From dbo.CurrentETL Where ETLId = ', pipeline().parameters.ETLId)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"executionId": {
				"type": "string",
				"defaultValue": "1"
			},
			"stageId": {
				"type": "int"
			},
			"pipelineId": {
				"type": "int"
			},
			"ETLId": {
				"type": "int"
			}
		},
		"variables": {
			"RawFilePath": {
				"type": "String"
			}
		},
		"annotations": []
	}
}