pipeline/Manual_ExecuteDataFlowCurrent.json
{
	"name": "Manual_ExecuteDataFlowCurrent",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [LogId]\n      ,[LocalExecutionId]\n      ,[StageId]\n      ,[PipelineId]\n      ,[CallingOrchestratorName]\n      ,[ResourceGroupName]\n      ,[OrchestratorType]\n      ,[OrchestratorName]\n      ,[PipelineName]\n      ,[StartDateTime]\n      ,[PipelineStatus]\n      ,[EndDateTime]\n      ,[PipelineRunId]\n      ,[PipelineParamsUsed]\n      ,[RawFilePathName]\n      ,[StructuredFilePathName]\n      ,[CurrentFilePathName]\n  FROM [procfwk].[ExecutionLog]\n  where PipelineParamsUsed = '{ \"pipelineParameters\": {\"ETLId\": \"2\"} }' and StartDateTime > '2022-01-12'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GetSetMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Incremental Load",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_ADL2STRUCTUREDToCURRENT_CDC",
									"type": "DataFlowReference",
									"parameters": {
										"File": {
											"value": "'@{item().StructuredFilePathName}'",
											"type": "Expression"
										},
										"Directory": {
											"value": "'@{'Booking'}'",
											"type": "Expression"
										},
										"ExecutionDate": {
											"value": "@item().StartDateTime",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{item().LocalExecutionId}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"StructuredFile": {
											"File": {
												"value": "@item().StructuredFilePathName",
												"type": "Expression"
											},
											"Directory": {
												"value": "'Booking'",
												"type": "Expression"
											}
										},
										"CurrentLookup": {
											"Directory": {
												"value": "'Booking'",
												"type": "Expression"
											}
										},
										"CurrentSink": {
											"Directory": {
												"value": "'Booking'",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}