pipeline/pipeline1_copy1.json
{
	"name": "pipeline1_copy1",
	"properties": {
		"activities": [
			{
				"name": "ForEach3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata2_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2_copy1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_ADL2STRUCTUREDToCURRENT",
									"type": "DataFlowReference",
									"parameters": {
										"File": {
											"value": "'@{concat(pipeline().parameters.pathfile, item().name)}'",
											"type": "Expression"
										},
										"Directory": {
											"value": "'@{variables('Directory')}'",
											"type": "Expression"
										},
										"ExecutionDate": {
											"value": "@formatDateTime(convertTimeZone(pipeline().TriggerTime, 'UTC' ,'AUS Eastern Standard Time'),'yyyy-MM-ddTHH:mm:ssZ')\n\n",
											"type": "Expression"
										},
										"RunId": {
											"value": "'@{-1}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"StructuredFile": {
											"File": {
												"value": "@concat(pipeline().parameters.pathfile, item().name)",
												"type": "Expression"
											},
											"Directory": {
												"value": "@variables('Directory')",
												"type": "Expression"
											}
										},
										"Current": {
											"TableName": {
												"value": "@variables('Directory')",
												"type": "Expression"
											}
										}
									}
								},
								"staging": {
									"linkedService": {
										"referenceName": "Blob_dimport",
										"type": "LinkedServiceReference"
									},
									"folderPath": "staging"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata2_copy1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ADLStructured_Directory",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@concat(variables('Path'), pipeline().parameters.FolderPath , '/')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "object"
			},
			"pathfile": {
				"type": "string"
			},
			"FolderPath": {
				"type": "string"
			}
		},
		"variables": {
			"Directory": {
				"type": "String",
				"defaultValue": "Booking"
			},
			"Path": {
				"type": "String",
				"defaultValue": "Booking/2022/01/"
			},
			"FileName": {
				"type": "String",
				"defaultValue": "2022/01/"
			},
			"Folders": {
				"type": "Array"
			},
			"Files": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}